version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: "no"

  gateway-service:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_URL: "postgres://user:password@db:5432/db?sslmode=disable"
      MIGRATIONS_PATH: "/app/migrations"
    ports:
      - 8080:8080
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
